
/* modal */

.modalRoot {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(1, 1, 1, 0.2);
}


.modal-dialog .modal-content {
    background: url('./modal-bg.jpg') no-repeat;
    
    background-position: center center;
    
    text-align: center;
    padding: 100px 50px 100px 50px;
    position: relative;
  }
  
  .btn:focus {
    outline: none;
  }
  
  
  
  .modal-dialog .close {
    color: #f1c11a;
    font-size: 40px;
    font-weight: 300;
    text-shadow: none;
    opacity: 1;
    position: absolute;
    top: 40px;
    right: 40px;
    border: 2px solid #ffffff;
    border-radius: 100px;
    width: 36px;
    height: 36px;
    line-height: 35px;
    text-align: center;
  }
  .modal-dialog .close:focus {
    outline: none;
  }
  
  .modal-dialog form {
    padding: 20px;
  }
  .modal-dialog form input {
    height: 55px;
  }
  .modal-dialog form .form-control {
    background: transparent;
    border: 1px solid #f0f0f0;
    border-radius: 0px;
    box-shadow: none;
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
    transition: all 0.4s ease-in-out;
  }
  
  .modal-dialog form input[type="submit"] {
    background: #ffffff;
    color: #242424;
    text-transform: uppercase;
    margin-top: 30px;
  }
  .modal-dialog form input[type="submit"]:hover {
    background: #f1c11a;
    border-color: transparent;
    color: #ffffff;
  }
  